<div class="left-button">
  <%= link_to "ユーザーに戻る", public_user_path(@user),class:"edit-link" %>
</div>
<h4 class="rooms-title"></h4>
<div class="user-name">
<strong>
  <% if @user.icon_img.present? %>
    <%= image_tag @user.icon_img.to_s, class:"user_icon" %>
  <% else %>
    <%= image_tag '/assets/default_icon.jpg', class:"default_icon"%>
  <% end %>
  <%= link_to "#{@user.name}さん", public_user_path(@user) %>
</strong>
</div>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <% if m.user.user_type == 0 %>
            <div class="chat-face">
              <% if m.user.icon_img.present? %>
                <%= image_tag m.user.icon_img.to_s, class:"user_icon" %>
              <% else %>
                <%= image_tag '/assets/default_icon.jpg', class:"default_icon"%>
              <% end %>
            </div>
          <% elsif m.user.user_type == 1 && m.user.company_id.present?%>
            <div class="chat-face">
              <% if m.user.company.icon_img.present? %>
                <%= image_tag m.user.company.icon_img.to_s, class:"user_icon" %>
              <% else %>
                <%= image_tag '/assets/default_icon.jpg', class:"default_icon"%>
              <% end %>
            </div>
          <% end %>
          <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_with model: @message,url: public_messages_path, method: :post, local: true do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>
