<div class="row">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <% self_analyses.each do |self_analysis| %>
      <%= link_to path do %>
        <div class="card border-dark col mb-6" style="max-width: 18rem;">
          <div class="row card-header">
            <div class="col-sm-3 icon_img">
              <%= image_tag self_analysis.user.icon_img.to_s %>
            </div>
            <div class="col-sm-9 name_space">
              <%= link_to self_analysis.user.name, path, class:"link_text"%>
            </div>
          </div>
          <div class="card-body text-dark">
            <div class="row card-title">
              <div class="col-sm-6">
                <%= link_to self_analysis.analysis_part.part"編", path %>
              </div>
              <div class="col-sm-6">
                <%= link_to "STEP"self_analysis.step, path %>
              </div>
            </div>
            <div class="row card_text">
              <div class="col-sm-6">
                <%= self_analysis.answer %>
              </div>
              <div class="col-sm-6">
                <%= self_analysis.analysis %>
              </div>
            </div>
            <div class="row tool_space">
              <div class="col-sm-4"></div>
              <div class="col-sm-4 favorite_btn">
                <% if book.favorited_by?(current_user) %>
    							<li>
        					<%= link_to book_favorites_path(book), method: :delete do %>
    							<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
        					<%= book.favorites.count %> いいね
      						<% end %>
    							</li>
    						<% else %>
    							<li>
        						<%= link_to book_favorites_path(book), method: :post do %>
        						<i class="fa fa-heart-o" aria-hidden="true"></i>
        						<%= book.favorites.count %> いいね
        						<% end %>
    							</li>
    						<% end %>
              </div>
              <div class="col-sm-4">
                <%= link_to "コメント数：#{self_analysis.comments.count}", path %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
