<div class="self_analysis_index page">
  <div class="container">
        <!-- <div class="col mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div> -->
    <div class="row row-cols-1 row-cols-md-2">
      <% self_analyses.each do |self_analysis| %>
        <% if self_analysis.range == 0 || current_user.following?(self_analysis.user) && self_analysis.range == 1 %>
          <div class="col mb-6", style="height:300px;">
            <%= link_to public_user_self_analysis_path(self_analysis.user, self_analysis) do %>
              <div class="card border-dar" style="max-width: 30rem;">
                <div class="card-header">
                  <div class="row">
                    <div class="icon_img">
                      <% if self_analysis.user.icon_img.present? %>
                        <%= image_tag self_analysis.user.icon_img.to_s, class:"user_icon", style:"width:70px; height:70px;"%>
                      <% else %>
                        <%= image_tag '/assets/default_icon.jpg', class:"default_icon", style:"width:70px; height:70px;"%>
                      <% end %>
                    </div>
                    <div class="col-8 name_space">
                      <%= link_to self_analysis.user.name, public_user_path(self_analysis.user), class:"link_text", style:"font-size:23px;" %>
                    </div>

                  </div>
                </div>
                <div class="card-body text-dark">
                  <div class="row card-title">
                    <div class="col-sm-6">
                      <%= link_to "#{self_analysis.user_question.analysis_part.part}編", public_user_part_index_path(self_analysis.user.id,  self_analysis.user_question.analysis_part.id) %>
                    </div>
                    <div class="col-sm-6">
                      <%= link_to "STEP#{self_analysis.user_question.step}", public_user_self_analysis_path(self_analysis.user,self_analysis) %>
                    </div>
                  </div>
                  <div class="row card_text">
                    <div class="col-sm-6">
                      <%= self_analysis.answer.truncate(50) %>
                    </div>
                    <div class="col-sm-6">
                      <%= self_analysis.analysis.truncate(50) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= paginate self_analyses %>
    </div>
  </div>
</div>
