<div class="row">
  <div class="container">
    <div class="row title_part">
      <h1><%= "#{analysis_part.part}編" %></h1>
    </div>
  </div>
  <div class="step_list">
    <% user_questions.each do |user_question| %>
      <% self_analysis = user_question.self_analyses.where(user_question_id: user_question.id, user_id: user.id).first %>
      <h2>STEP. <%= user_question.step %><%= link_to user_question.question, public_user_self_analysis_path(@user, self_analysis),class:"link_text"%> </h2>
      <% if self_analysis.present? %>
        <div class="row self_analysis_text">
          <div class="col-sm-6">
            <%= self_analysis.answer %>
          </div>
          <div class="col-sm-6">
            <%= self_analysis.analysis %>
          </div>
        </div>
      <% else %>
        <div class="row self_analysis_text">
          まだ回答していません
        </div>
      <% end %>
      <div class="row tool_space">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 favorite_btn">
          <%= render 'public/favorites/favorite_btn', self_analysis: self_analysis %>
        </div>
        <div class="col-sm-4">
          <%= link_to "コメント数：#{self_analysis.self_analysis_comments.count}", public_user_self_analysis_path(self_analysis.user,self_analysis) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
