<div class="self_analysis_show page">
  <div class="container">
    <div class="title_part">
      <h1><%= "#{@analysis_part.part}編" %></h1>
    </div>
    <div class="step_no">
      <h2>STEP.<%= @question.step %><%= @question.question %></h2>
    </div>
    <div class="row self_analysis_text">
      <div class="col-sm-6">
        <%= @self_analysis.answer %>
      </div>
      <div class="col-sm-6">
        <%= @self_analysis.analysis %>
      </div>
    </div>
    <div class="row tool_space">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 favorite_btn">
        <%= render 'public/favorites/favorite_btn', self_analysis: @self_analysis, user: @user %>
      </div>
      <div class="col-sm-4">
        <%= "#{@self_analysis_comments.count}コメント"%>
      </div>
    </div>
    <div class="row btn_space">
      <div class="col-sm-8"></div>
      <div class="col-sm-2">
        <% if current_user == @user %>
          <%= link_to "編集",edit_public_user_self_analysis_path(current_user, @self_analysis), class: "btn-sm btn-success " %>
        <% end %>
      </div>
      <div class="col-sm-2">
        <% if current_user == @user %>
          <%= link_to "削除",public_user_self_analysis_path(current_user, @self_analysis), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger " %>
        <% end %>
      </div>
    </div>
    <div class="comment_form">
      <%= form_with url: public_user_self_analysis_self_analysis_comments_path(current_user,@self_analysis), method: :post,local:true do |f| %>
        <div class="row comment_space">
          <div class="col-sm-10">
            <%= f.text_area :comment, rows:'5', class: "form-control small_comment_area",placeholder: "コメントを追加...", style:"height: 70px;" %>
          </div>
          <div class="col-sm-2">
            <%= f.submit "送信する", class: "btn btn-success btn-lg btn-base-1 mt-20 pull-right comment_btn" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row comments">
      <% @self_analysis.self_analysis_comments.each do |self_analysis_comment| %>
        <div class="col-2 icon_img">
          <% if self_analysis_comment.user.icon_img.present? %>
            <%= image_tag self_analysis_comment.user.icon_img.to_s, class:"user_icon" %>
          <% else %>
            <%= image_tag 'default_icon.jpg', class:"default_icon"%>
          <% end %>
        </div>
        <div class="col-8">
          <div class="row name_space">
            <%= link_to self_analysis_comment.user.name, public_user_path(self_analysis_comment.user), class:"link_text bold-text"%>
          </div>
          <div class="row comment_space">
            <%= self_analysis_comment.comment %>
          </div>
          <div class="col-2destroy_btn">
            <% if self_analysis_comment.user == current_user%>
              <%= link_to "削除", public_user_self_analysis_self_analysis_comment_path(@self_analysis, self_analysis_comment), method: :delete, class: "btn btn-danger pull-right" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
