<div class="company_index page">
  <% if user_signed_in? || company_signed_in? %>
    <div class="row form-inline mt-3 justify-content-end">
      <%= render 'public/searches/search_box' %>
    </div>
  <% end %>
  <h2>所属企業選択</h2>
  <div class="container">
    <div class="user_space">
      <% @users.each do |user| %>
        <div class="row each_user">
          <div class="col-sm-2 icon_img">
            <% if user.company.icon_img.present? %>
              <%= image_tag user.company.icon_img.to_s, class:"user_icon" %>
            <% else %>
              <%= image_tag '/assets/default_icon.jpg', class:"default_icon"%>
            <% end %>
          </div>
          <div class="col-sm-6">
            <div class="row name_space">
              <%= link_to user.company.name, public_user_path(user), class:"link_text" %>
            </div>
            <div class="row intro_space">
              <%= user.company.introduction %>
            </div>
          </div>
          <div class="col-sm-2 user_batch">
            <%= link_to public_companies_path, class:"link_text" do %>
              <%= icon("fas", "building") %>
            <% end %>
          </div>
          <div class="col-sm-2 select_btn">
            <%= link_to public_companies_path, class:"link_text" do %>
              <%= icon("fas", "building") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
