<%= stylesheet_link_tag 'users' %>

<div class="company_show page">
  <div class="main">
    <div class="container">
      <div class="row user_header">
        <div class="col-sm-1"></div>
        <div class="col-sm-2 icon_img">
          <% if @company.icon_img.present? %>
            <%= image_tag @company.icon_img.to_s, class:"user_icon" %>
          <% else %>
            <%= image_tag 'default_icon.jpg', class:"default_icon"%>
          <% end %>
        </div>
        <div class="col-sm-6 header_center">
          <div class="name_space">
            <h2><%= @company.name %></h2>
          </div>
          <div class="value_space">
            <%= link_to @company.HP, target: :_blank, class:"link_text" do %>
              "<%= @company.HP %>"
            <% end %>
          </div>
        </div>
        <div class="col-sm-2 batch_space">
          <div class="user_batch">
            <%= link_to public_companies_path, class:"link_text" do %>
              <%= fa_icon 'building' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row btn_space">
        <div class="col-11"></div>
        <div class="col-1 dm_btn">
          <% if user_signed_in? %>
            <% if @isRoom == true %>
              <%= link_to "DM", public_room_path(@roomId), class:"btn btn-primary btn-lg" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row introduction">
        <%= @company.introduction %>
      </div>
      <div class="row info">

      </div>
      <div class="row edit_space">
        <div class="col-sm-10"></div>
        <div class="col-sm-2 edit_btn">
          <%= link_to "編集", edit_public_company_path(@company), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
