<!DOCTYPE html>
<html>
  <head>
    <title>NewValue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--ヘッダーの記述-->
    <header class="navbar">
      <div class="container">
        <nav>
          <%= link_to root_path do %>
            <img src="/assets/New_Value_logo2.png" width="250" height="65">
          <% end %>
        </nav>
        <nav>
          <% if user_signed_in? && current_user.representative == true && current_user.company_id.present? %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "TL", public_follow_index_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "未定", public_self_analyses_new_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "会社ページ", public_user_path(current_user), class: "btn btn-nav" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-nav" %></li>
            </ul>
          <% elsif user_signed_in?  %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "TL", public_follow_index_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "新規投稿", public_self_analyses_new_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "マイページ", public_user_path(current_user), class: "btn btn-nav" %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-nav" %></li>
            </ul>
          <% else %>
            <ul class="nav p-4">
              <li class="nav-item mr-3"><%= link_to "Top", root_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><a href="#about" class="btn btn-nav">About</a></li>
              <li class="nav-item mr-3"><%= link_to "Login", new_user_session_path, class: "btn btn-nav" %></li>
              <li class="nav-item mr-3"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-nav" %></li>
            </ul>
          <% end %>
        </nav>
        <% unless @hide_searchbar == true %>
          <% if user_signed_in? %>
            <div class="row form-inline mt-3 justify-content-end">
              <%= render 'public/searches/search_box' %>
            </div>
          <% end %>
        <% end %>
      </div>
      <nav class="row">
        <ul class="nav p-3">
          <li class="nav-item mr-4"><%= link_to "Users", public_users_path, class: "btn btn-nav" %></li>
          <li class="nav-item mr-4"><%= link_to "Companies", public_companies_path, class: "btn btn-nav" %></li>
          <li class="nav-item mr-4"><%= link_to "Analyses", public_all_index_path, class: "btn btn-nav" %></li>
        </ul>
      </nav>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
