<%= stylesheet_link_tag 'users' %>
<div class="registration page">
  <div class="container">
    <h2>新規会員登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class = "form-row">
        <label class = "col-2"><%= f.label "どのアカウントを作成しますか？(※必須)" %></label>
        <%= f.select :user_type, [['個人アカウント',0],['ビジネスアカウント',1]], class:"col-2"%>
      </div><br>
      <p>
        ビジネスアカウントでは業務用に向けられたアカウントで、主に企業に属する方や人事部の方に最適です。<br>
      </p>

      <div class = "form-row">
        <label class="col-2"><%= f.label "登録名(※必須)" %></label>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-3" %>
      </div><br>

      <div class = "form-row">
        <label class = "col-sm-2"><%= f.label "email(※必須)" %></label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-3" %>
      </div><br>

      <div class = "form-row">
        <label class="col-2"><%= f.label "都道府県(※必須)" %></label>
        <%= f.select :prefectures, User.prefectures.keys, {prompt: "選択してください"}, autofocus: true, autocomplete: "prefectures", class: "col-2" %>
      </div><br>

      <div class = "form-row">
        <label class = "col-2"><%= f.label "年齢(※必須)" %></label>
        <%= f.number_field :age, autofocus: true, autocomplete: "age", class: "col-2" %><span class = "col-1">歳</span>
      </div><br>

      <div class = "form-row">
        <label class = "col-2"><%= f.label "あなたは就活生ですか？(※必須)" %></label>
        <%= f.select :user_batch, [['はい',1],['いいえ',2]], class:"col-2"%>
      </div><br>

      <div class = "form-row">
        <label class = "col-2"><%= f.label "パスワード(※必須)" %>
        <% if @minimum_password_length %>
          <br><em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %></label>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-3", style:"height:40px;" %>
      </div><br>

      <div class = "form-row">
        <label class = "col-2"><%= f.label "パスワード(※必須)" %><br><span>(確認用)</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3", style:"height:40px;" %>
      </div><br>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
      </div><br>
    <% end %>

    <div class = "kotira">
    <h2>既に登録済みの方</h2>
    <p><%= link_to "こちら", new_user_session_path %>からログインしてください。</p>
    </div>
  </div>
</div>
